body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    font-family: monospace;
    color: darkcyan;
}

.page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 0 0 39px 0;
}


.container{
    background-color: rgba(255, 255, 255, 0.3);;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    /* margin: 30px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

form{
    display: flex;
    gap: 39px;
    flex-direction: column;
}

.celsius, .fahrenheit, .kelvin{
    display: flex;
    gap: 67]px;
    align-items: center;
}

.celsius label,
.fahrenheit label,
.kelvin label {
    width: 100px;
    font-size: large;
    font-weight: bold;
}

input{
    height: 29px;
    font-family: monospace;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    width: 220px;
}