body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    
}

.container{
    max-width: 600px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
    
}

h1{
    text-align: center;
}

.result{
    display: flex;

}

h2{
    margin: 2px;
}

.content{
    display: flex;
    flex-direction: column;
}

label{
    margin: 6px;
    font-weight: 400;
}

input{
    margin: 2px auto;
    width: 580px;
    height: 30px;
}

button{
    margin: 2px;
    height: 40px;
    font-size: larger;
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #4caf50;;
    color: white;
    border: none;
    cursor: pointer;
}

