body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 13px;
}

label{
    margin-bottom: 9px;
}

input{
    width: 19rem;
    margin-bottom: 10px;
    height: 22px;
    padding: 5px;
    border-radius: 4px;
}

button{
    width: 136px;
    padding: 9px;
    font-size: medium;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}


.container{
    background-color: white;
    max-width: 533px;
    height: auto;
    border-radius: 15px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
